.container {
  max-width: 38rem;
  margin: 0 auto;

  button {
    background: transparent;
    border: none;

    cursor: pointer;
    margin: 4rem 0;

    font-weight: 600;
    font-size: 1.125rem;
    color: var(--highlight);

    transition: filter 0.2s;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

.post {
  cursor: pointer;

  & + .post {
    margin-top: 3rem;
  }

  &:hover strong {
    color: var(--highlight);
  }

  strong {
    font-size: 1.75rem;
    transition: color 0.2s;
  }

  p {
    margin: 0.56rem 0;
  }

  div {
    display: flex;
    margin-top: 0.875rem;

    p {
      display: inline-flex;
      margin-right: 1.5rem;

      svg {
        margin-right: 8px;
      }
    }
  }
}
